/** Custom Variables */
$primary: #407BFF;
$btn-border-width: 0px;
$border-radius: 7px;
$input-btn-padding-y: .7rem - .0625rem !default;
$btn-padding-x: 1.4rem !default;

@import "~@tabler/core/src/scss/tabler.scss";
