@import './tabler';
@import './select2';

* {
  font-family: 'Inter', sans-serif;
}

a {
  color: #0e2a47
}

a:hover {
  color: black
}

.invalid-feedback {
  display: block;
}

.container-tight {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.py-1-4 {
  padding-top: 1.4rem !important;
  padding-bottom: 1.4rem !important;
}

.filter-list-item {
  background-color: transparent;
  color: rgb(105, 105, 105);
  padding: 0.6rem 0.5rem;
  border-radius: 15px;
  margin-bottom: 6px;
  font-weight: 400;
}

.text {
  margin-right: 3px;
  margin-left: 3px;
}

.filter-list-item:hover {
  background-color: rgba(#407BFF, 0.1) !important;
  color: #407BFF;
  text-decoration: none;
}

.filter-list-item.active {
  background-color: rgba(#407BFF, 0.1) !important;
  color: #407BFF;
  font-weight: 500;
}

.question-card-title {
  font-weight: 500;
  font-size: 1.1rem;
}

.question-card-title:hover {
  text-decoration: none;
  color: #407BFF;
}

.tag {
  border: 1px solid #cbd5e1;
  color: #64748b;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.1rem 0.8rem;
  font-size: 0.77rem;
}

.tag:hover {
  background-color: rgba(#64748b, 0.1);
  text-decoration: none;
}

.action-button {
  background-color: transparent;
  border: transparent;
  color: #64748b;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.5rem 0.4rem;
}

.action-button > span {
  margin: 0px 5px;
}

.action-button-danger:hover {
  background-color: rgba(red, 0.1);
  color: red;
}

.action-button-primary:hover {
  background-color: rgba(#407BFF, 0.1);
  color: #407BFF;
}

.action-button-primary.active {
  background-color: rgba(#407BFF, 0.1);
  color: #407BFF;
}

.action-button-danger.active {
  background-color: rgba(red, 0.1);
  color: red;
}

.answer-card {
  border: 1px solid #e2e8f0;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

.answer-card:hover {
  border: 1px solid #407BFF;
  transition: all 0.4s;
}

.question-card {
  border: 1px solid #e2e8f0;
  padding: 15px 20px;
  border-radius: 5px;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

.question-card:hover {
  border: 1px solid #407BFF;
  transition: all 0.4s;
}

.btn-search {
  border: 1px solid transparent;
  background-color:#113255;
  color: white;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  padding: 8px;
}

.btn-search:hover {
  border: 1px solid rgba(#407BFF, 0.1);
  color: #407BFF;
}

.search-input {
  border: 2px solid #407BFF;
}

.search-input:focus {
  box-shadow: none;
  border: 2px solid #407BFF;
}